body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior:smooth;
}
.bg-dark{
    background-color: black !important;
}

.carousel-item{
    max-height: 80vh;
}
.carousel-item img{
    width: 100%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.card-deck{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#sticky-footer {
    flex-shrink: none;
  }
main{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    color: black;
    margin-bottom: 3vh;
}
.carousel{
    margin-top: 12vh;
}
.btn{
    background-color: black !important;
    border-color: black !important;
    margin-top: 1vh;
}
.btn:hover{
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}
.bg-primary{
    background-color: white !important;
}
#contato{
    margin-bottom: 1vh;
}
.navbar-brand{
    margin-left: 11.25vw;
}

.nav-link:hover{
    color: yellow !important;
}
.head-page{
    color: black;
    margin-top: 10vh;
}
.card-group{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
::-webkit-scrollbar{
    display: none;
}
.card img{
    max-height: "180";
    max-width: "311";
}
.faw{
    color: black;
}
