body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior:smooth;
}
.header-site{
    background-image: url("../img/testbanner-small.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 20%;
    padding-bottom: 20%;
}
@media only screen and (min-device-width: 1000px){
    .header-site{
        background-image: url("../img/testbanner.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

.bg-dark{
    background-color: black !important;
}
.card-deck{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#sticky-footer {
    flex-shrink: none;
  }
main{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    color: black;
    margin-bottom: 3vh;
}
.carousel{
    margin-top: 12vh;
}
.btn{
    background-color: black !important;
    border-color: black !important;
    margin-top: 1vh;
}
.btn:hover{
    background-color: white !important;
    color: black !important;
    border-color: black !important;
}
.bg-primary{
    background-color: white !important;
}
#contato{
    margin-bottom: 1vh;
}
.navbar-brand{
    margin-left: 11.25vw;
}

.nav-link:hover{
    color: yellow !important;
}
.head-page{
    color: black;
    margin-top: 10vh;
}
.card-group{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
::-webkit-scrollbar{
    display: none;
}
.card img{
    max-height: "180";
    max-width: "311";
}
.faw{
    color: black;
}
